.calc-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background: #ffffff;
}

.calc-section--has-title {
  padding-top: 48px;
}

.calc-section__title {
  margin-bottom: 20px;
  padding-left: 40px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: #5a6879;
  span {
    color: #5abeff;
    font-family: 'Gilroy';
  }
}

.calc {
  display: flex;
  position: relative;
  overflow: hidden;
  gap: 80px;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 49px 0px rgba(0, 50, 92, 0.15);
}

.calc-success {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.calc[data-calc-success] .calc-success {
  display: flex;
}

.calc-success::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}

.calc-success__title {
  text-align: center;
  font-weight: 900;
  color: #5a6879;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 28px;

  span {
    color: #5abeff;
  }
}

.calc-success__desc {
  font-size: 18px;
  margin-bottom: 28px;
}

.calc-success__close {
  padding: 0 16px;
  font-weight: 500;
  color: #00aaff;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: 0.05em;
  border: 1px solid #00aaff;
  border-radius: 20px;
  min-width: 144px;

  &:hover {
    background-color: rgb(206, 237, 255);
  }
}

.calc__left {
  flex-grow: 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 54px;
  padding-bottom: 60px;
}

.calc__right {
  width: 40%;
  background: #d4f1ff;
  border-radius: 0 24px 24px 0;
  padding: 54px;
  flex-shrink: 0;
}

.calc__repair {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 6px;
}

.calc__repair-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.025em;
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
}

.calc__repair-desc {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 12px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.63);
}

.calc__repair-price {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: #00aaff;
  font-family: 'Gilroy';
  white-space: nowrap;
  font-weight: bold;
  font-size: 26px;
  line-height: 20px;
  letter-spacing: 0.025em;
}

.calc__materials {
  margin-top: 32px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 6px;
}

.calc__materials-title {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
}

.calc__materials-price {
  color: #222;
  font-family: 'Gilroy';
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.025em;
}

.calc__line {
  margin-top: 48px;
  margin-bottom: 48px;
  width: 100%;
  height: 5px;
  background-color: rgba(0, 168, 252, 0.2);
}

.calc__message {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: #222;
  margin: 36px 0;
}

.calc__phone {
}

.calc__rules {
  margin-top: 6px;
  text-align: center;
  color: rgba(0, 0, 0, 0.72);
  font-size: 12px;
  letter-spacing: 0.025em;
  line-height: 1.2;
  a {
    text-decoration: underline;
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}

.calc__submit {
  margin-top: 54px;
  display: flex;
  justify-content: center;
  > * {
    width: 300px;
    max-width: 100%;
  }
}

.calc__field + .calc__field {
  margin-top: 36px;
}

.calc__field + .calc__field--area {
  margin-top: 48px;
}

.calc__field-label {
  font-weight: bold;
  display: block;
  color: #000;
  line-height: 1.2;
  font-size: 16px;
  margin-bottom: 16px;
  span {
    font-weight: normal;
    font-size: 14px;
  }
}

.calc__field-house-type {
  display: flex;
  column-gap: 24px;
  row-gap: 6px;
  flex-wrap: wrap;
}

.calc__field-room-count {
  display: flex;
  column-gap: 24px;
  row-gap: 6px;
  flex-wrap: wrap;
}

.calc__field-repair-type {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
