.comparison-section {
  background: #f3f7f9;
  padding-top: 96px;
  padding-bottom: 80px;
}

.comparison-section__title {
  text-align: center;
  margin-bottom: 68px;
  font-size: 42px;
  font-weight: bold;
  line-height: 48px;
}

.comparison-carousel {
  --slide-spacing: 48px;
  --slide-size: 100%;

  background: #fff;
  border-radius: 24px;
  padding: 80px;
  position: relative;
}

.comparison-carousel__viewport {
  overflow: hidden;
}

.comparison-carousel__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.comparison-carousel__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.comparison-carousel__nav {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(187, 195, 205);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 56px;
  height: 56px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  margin-top: -28px;

  &:hover {
    background-color: rgba(204, 212, 223, 0.9);
  }

  &[disabled] {
    display: none;
  }
}

.comparison-carousel__nav::before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.comparison-carousel__nav--prev {
  left: 12px;
}

.comparison-carousel__nav--prev::before {
  mask-image: var(--icon-chevron-left);
}

.comparison-carousel__nav--next {
  right: 12px;
}

.comparison-carousel__nav--next::before {
  mask-image: var(--icon-chevron-right);
}

.comparison {
  position: relative;
}

.comparison__after {
  position: relative;
  width: 100%;
  z-index: 10;
}

.comparison__after img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 10;
}

.comparison__after-label {
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 20;
  width: 80px;
  border-radius: 10px;
  background-color: rgba(243, 245, 248, 0.4);
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 36px;
  margin-top: -18px;
  text-transform: uppercase;
  color: #ffffff;
}

.comparison__before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, var(--progress) 0, var(--progress) 100%, 0 100%);
  z-index: 20;
}

.comparison__before img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: 10;
}

.comparison__before-label {
  position: absolute;
  left: 48px;
  top: 50%;
  z-index: 20;
  width: 80px;
  border-radius: 10px;
  background-color: rgba(243, 245, 248, 0.4);
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 36px;
  margin-top: -18px;
  text-transform: uppercase;
  color: #ffffff;
}

.comparison__line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--progress);
  width: 3px;
  background: linear-gradient(
    to bottom,
    #fff 0,
    #fff calc(50% - 48px),
    transparent calc(50% - 48px),
    transparent calc(50% + 48px),
    #fff calc(50% + 48px),
    #fff 100%
  );
  transform: translateX(-50%);
  z-index: 30;
}

.comparison__handle {
  position: absolute;
  top: 50%;
  left: var(--progress);
  color: #464646;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translate(-50%, -50%);
  z-index: 40;
}

.comparison__range:focus-visible + .comparison__handle {
  outline: 2px solid #3db6ff;
}

.comparison__handle::before {
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-left);
  right: calc(50% + 6px);
  top: 50%;
  margin-top: -8px;
}

.comparison__handle::after {
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-right);
  left: calc(50% + 6px);
  top: 50%;
  margin-top: -8px;
}

.comparison__range {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  background: none;
}

.comparison__range::-webkit-slider-runnable-track {
  background: transparent;
}

.comparison__range::-moz-range-track {
  background: transparent;
}

.comparison__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.comparison__range::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}
