@use 'responsive' as *;

.experts-section {
  padding-top: 96px;
  padding-bottom: 96px;

  @include max-lg {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include max-md {
    padding-top: 32px;
    padding-bottom: 24px;
  }
}

.experts-section__title {
  font-size: 42px;
  line-height: 1.15;
  color: #252e36;
  font-weight: 700;
  text-align: center;
  margin-bottom: 56px;

  @include max-xl {
    font-size: 36px;
    margin-bottom: 56px;
  }

  @include max-lg {
    font-size: 32px;
    margin-bottom: 48px;
  }

  @include max-md {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.experts-embla {
  --slide-spacing: 0;
  --slide-size: calc(100% / 3);

  @include max-md {
    --slide-size: 100%;
  }
}

.experts-embla__wrap {
  padding-left: 120px;
  padding-right: 120px;
  position: relative;

  @include max-2xl {
    padding-left: 0;
    padding-right: 0;
  }
}

.experts-embla__viewport {
  overflow: hidden;
}

.experts-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.experts-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.experts-embla__nav {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(187, 195, 205);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 56px;
  height: 56px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  margin-top: -28px;

  &:hover {
    background-color: rgba(204, 212, 223, 0.9);
  }

  &[disabled] {
    display: none;
  }

  // @include max-md {
  //   width: 32px;
  //   height: 32px;
  //   margin-top: -16px;
  //   border-width: 1px;
  // }
}

.experts-embla__nav::before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  @include max-md {
    width: 12px;
    height: 12px;
  }
}

.experts-embla__nav--prev {
  left: 12px;

  @include max-lg {
    left: -12px;
  }
}

.experts-embla__nav--prev::before {
  mask-image: var(--icon-chevron-left);
}

.experts-embla__nav--next {
  right: 12px;

  @include max-lg {
    right: -12px;
  }
}

.experts-embla__nav--next::before {
  mask-image: var(--icon-chevron-right);
}

.experts-carousel__dots {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: none;

  &:has(.embla__dot:not(.embla__dot--selected)) {
    display: flex;
  }

  @include max-lg {
    margin-top: 32px;
  }

  @include max-md {
    margin-top: 16px;
  }
}

.experts-carousel__dots .embla__dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 300ms;
  position: relative;
}

.experts-carousel__dots .embla__dot::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c2c2c4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms;
}

.experts-carousel__dots .embla__dot.embla__dot--selected::after {
  background: #3db6ff;
  width: 18px;
  height: 18px;
  box-shadow: 0 0 0 4px rgba(61, 182, 255, 0.302);
}

.experts-item {
  box-shadow: inset 0 0 0 1px #eff2f9;
  padding: 40px 60px 24px;

  @include max-xl {
    padding: 32px 36px;
  }

  @include max-lg {
    padding: 20px 24px;
  }

  @include max-md {
    padding: 16px;
  }
}

.experts-item__image {
  display: flex;
  justify-content: center;
}

.experts-item__name {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  color: #40b7ff;

  @include max-md {
    margin-top: 16px;
    font-size: 16px;
  }
}

.experts-item__job {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1;
  color: #151618;

  @include max-md {
    margin-top: 6px;
    font-size: 12px;
  }
}

.experts-item__experience {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #222222;
  min-height: 30px;
  border-radius: 10px;
  background-color: #d4f1ff;
  display: inline-flex;
  align-items: center;
  padding: 3px 10px;

  @include max-md {
    padding: 2px 8px;
    min-height: 24px;
    border-radius: 6px;
    margin-top: 6px;
    font-size: 10px;
  }
}