@use 'responsive' as *;

.footer {
  background: #dae5ef;
  padding-top: 34px;
  padding-bottom: 36px;

  @include max-md {
    padding-top: 40px;
    padding-bottom: 24px;
  }
}

.footer-layout {
  display: flex;

  @include max-md {
    flex-direction: column;
    gap: 56px;
  }
}

.footer-layout__contacts {
  width: 25%;
  flex-shrink: 0;

  @include max-lg {
    width: 30%;
  }

  @include max-md {
    width: 100%;
  }
}

.footer-layout__nav {
  width: 75%;
  display: flex;
  justify-content: space-around;

  @include max-lg {
    width: 70%;
  }

  @include max-md {
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-right: -8px;
    order: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 48px;
  }
}

.footer-contacts {}

.footer-contacts__title {
  font-size: 16px;
  line-height: 1.5;
  min-height: 3em;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;

  @include max-lg {
    font-size: 12px;
  }

  @include max-md {
    font-size: 14px;
    margin-bottom: 12px;
    min-height: initial;
  }
}

.footer-contacts__text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 1.2;

  @include max-lg {
    font-size: 14px;
  }
}

.footer-contacts__call {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  @include max-lg {
    margin-top: 12px;
  }
}

.footer-contacts__address {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin-top: 36px;
  line-height: 1.2;

  @include max-lg {
    font-size: 14px;
    margin-top: 20px;
  }
}

.footer-menu {}

.footer-menu__title {
  font-size: 16px;
  line-height: 1.5;
  min-height: 3em;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;

  @include max-lg {
    font-size: 12px;
  }

  @include max-md {
    font-size: 14px;
  }
}

.footer-menu__menu {
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
  text-align: center;

  @include max-lg {
    font-size: 14px;
  }

  li+li {
    margin-top: 28px;

    @include max-lg {
      margin-top: 24px;
    }

    @include max-md {
      margin-top: 8px;
    }
  }

  a {
    text-decoration: underline;
    color: inherit;
  }
}

.footer-bottom {
  background: #c9d7e2;
  padding-top: 20px;
  padding-bottom: 16px;
}

.footer-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @include max-lg {
    flex-wrap: wrap;
    gap: 12px;
  }

  @include max-md {
    justify-content: center;
    text-align: center;
  }
}

.footer-bottom__copyright {
  font-size: 12px;
  line-height: 1.2;
  color: #222222;
}

.footer-bottom__links {
  font-size: 12px;
  line-height: 1.2;
  color: #222222;

  @include max-md {
    order: -3;
  }

  a {
    text-decoration: underline;
    color: inherit;

    &:hover {
      color: #000000;
    }
  }
}

.footer-bottom__info {
  font-size: 12px;
  line-height: 1.2;
  color: #222222;

  @include max-md {
    order: -2;
  }
}