@use 'variables' as *;

.extra-header {
  background: #2e89c1;
  position: relative;
  z-index: 100;
}

.extra-header__container {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

.extra-header__container::after {
  content: '';
  width: 120px;
}

.extra-header__city {
  width: 120px;
}

.extra-header__offer {
  display: flex;
  align-items: center;
}

.extra-header__offer::before {
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-top: -4px;
  margin-bottom: -4px;
  background-color: #e8eefb;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-hands);
}

.extra-header__offer__message {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 24px;
}

.extra-header__offer__button {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #252e36;
  font-weight: 700;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #d4f1ff;
  text-decoration: none;
  display: inline-flex;
  &:hover {
    background-color: #f43232;
    color: #fff;
  }
}

.city-select {
  position: relative;
}

.city-select__trigger {
  font-size: 11px;
  color: #fffbfb;
  font-weight: 400;
  line-height: 16px;
  height: 30px;
  display: flex;
  gap: 6px;
  align-items: center;
  padding-right: 6px;
  padding-left: 6px;
}

.city-select__trigger span {
  border-top: 1px solid transparent;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.city-select__trigger span::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}

.city-select__trigger:hover {
  background: rgba(0, 0, 0, 0.1);
}

.city-select__trigger::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #e8eefb;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-location);
}

.city-select__list {
  display: none;
  position: absolute;
  top: 100%;
  left: -16px;
  background-color: #fff;
  box-shadow: 0 0 14.5px #00000040;
  border-radius: 16px;
  padding: 8px;
  width: 320px;
  .city-select.open & {
    display: block;
  }
  a {
    font-size: 16px;
    line-height: 20px;
    color: #354a57;
    font-weight: 700;
    display: block;
    padding: 10px 16px;
    border-radius: 12px;
    &:hover {
      color: #00aaff;
      background-color: rgba(61, 182, 255, 0.15);
    }
  }
}

.header {
  position: sticky;
  top: 0;
  height: 64px;
  transition: 0.4s ease;

  &[data-sticky-header='active'] {
    background: #fff;
    box-shadow: 0 4px 2.5px rgba(0, 53, 79, 0.16);
  }
}

.header__anchor {
  position: absolute;
  top: -16px;
  height: 16px;
  width: 100%;
  transition: 0.4s ease;
  [data-sticky-header='active'] & {
    background: #fff;
  }
}
