@use 'variables' as *;

.header {
  position: sticky;
  top: 0;
  height: 64px;
  transition: 0.4s ease;

  &[data-sticky-header='active'] {
    background: #fff;
    box-shadow: 0 4px 2.5px rgba(0, 53, 79, 0.16);
  }
}

.header__anchor {
  position: absolute;
  top: -16px;
  height: 16px;
  width: 100%;
  transition: 0.4s ease;
  [data-sticky-header='active'] & {
    background: #fff;
  }
}
