@use 'responsive' as *;

.extra-header {
  background: #2e89c1;
  position: relative;
  z-index: 100;
}

.extra-header__container {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  align-items: center;

  @include max-md {
    min-height: 36px;
  }
}

.extra-header__container::after {
  content: '';
  width: 120px;

  @include max-xl {
    display: none;
  }
}

.extra-header__city {
  min-width: 120px;
  margin-left: -8px;

  @include max-md {
    display: none;
  }
}

.extra-header__offer {
  display: flex;
  align-items: center;
  gap: 24px;

  @include max-md {
    margin-left: auto;
  }
}

.extra-header__offer__message {
  font-size: 13px;
  letter-spacing: 0.05em;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  display: flex;
  gap: 8px;
  align-items: center;

  @include max-xl {
    font-size: 12px;
  }

  @include max-lg {
    display: none;
  }
}

.extra-header__offer__message::before {
  content: '';
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-top: -6px;
  margin-bottom: -6px;
  background-color: #e8eefb;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-hands);

  @include max-xl {
    width: 28px;
    height: 28px;
    margin-top: -4px;
    margin-bottom: -4px;
  }
}

.extra-header__offer__button {
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 20px;
  color: #252e36;
  font-weight: 700;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #d4f1ff;
  text-decoration: none;
  display: inline-flex;
  white-space: nowrap;

  @include max-md {
    font-size: 10px;
    padding: 0 6px;
  }
}

.extra-header__offer__button:hover {
  background-color: #f43232;
  color: #fff;
}

.extra-header__offer__button::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #2e8ac1;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-hands);
  margin-left: -6px;

  @include min-lg {
    display: none;
  }
}

.city-select {
  position: relative;
}

.city-select__trigger {
  font-size: 11px;
  color: #fffbfb;
  font-weight: 400;
  line-height: 16px;
  height: 30px;
  display: flex;
  gap: 6px;
  align-items: center;
  padding-right: 6px;
  padding-left: 6px;
}

.city-select__trigger span {
  border-top: 1px solid transparent;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.city-select__trigger span::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}

.city-select__trigger:hover {
  background: rgba(0, 0, 0, 0.1);
}

.city-select__trigger::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #e8eefb;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-location);
}

.city-select__list {
  display: none;
  position: absolute;
  top: 100%;
  left: -16px;
  background-color: #fff;
  box-shadow: 0 0 14.5px #00000040;
  border-radius: 24px;
  padding: 16px 20px;
  width: 320px;
}

.city-select__list a {
  font-size: 16px;
  line-height: 1.25;
  color: #354a57;
  font-weight: 700;
  display: block;
  padding: 10px 20px;
  border-radius: 20px;
}

.city-select.open .city-select__list a:hover {
  color: #00aaff;
  background-color: rgba(61, 182, 255, 0.15);
}

.city-select.open .city-select__list {
  display: block;
}

.header {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0px);
  z-index: 90;

  @include max-md {
    background-color: rgba(255, 255, 255, 0.22);
    border-bottom: 1px solid #e8e9ec;
  }
}

.header::after {
  content: '';
  top: -16px;
  bottom: -16px;
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  z-index: -1;
  border-bottom: 1px solid #e6ebed;

  @include max-md {
    top: 0;
    bottom: 0;
  }
}

.header[data-sticky-header='active']::after {
  display: none;
}

.home .header::after {
  display: none;
}

.header[data-sticky-header='active'] {
  background: #fff;
  box-shadow: 0 4px 2.5px rgba(0, 53, 79, 0.16);

  @include max-md {
    background: #fff;
  }
}

.header__anchor {
  position: absolute;
  top: calc(-1px - var(--wp-admin--admin-bar--height, 0px));
  height: 1px;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  gap: 16px;

  @include max-2xl {
    gap: 12px;
  }

  @include max-md {
    height: 50px;
    gap: 8px;
  }
}

.header__logo {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin-right: auto;

  @include max-2xl {
    zoom: 0.9;
  }

  @include max-md {
    zoom: 0.6;
  }
}

.header__toggle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  flex-shrink: 0;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3db6ff;

  &:hover {
    background: #2b7fb2;
  }

  @include min-xl {
    display: none;
  }
}

.header__logo::before {
  content: '';
  width: 23px;
  height: 65px;
  display: block;
  background-color: #00a9ff;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--logo);
  position: absolute;
  left: 0;
  bottom: -6px;
}

.header__logo__name {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 1;
  color: #00273f;
  font-weight: 900;

  span {
    display: inline-block;
  }

  @include max-3xl {
    width: min-content;
  }

  @include max-xl {
    width: max-content;
  }

  @include max-lg {
    width: min-content;
  }
}

.header__logo__desc {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1;
  color: #00273f;
  font-weight: 400;
  margin-top: 4px;

  @include max-3xl {
    display: none;
  }

  @include max-xl {
    display: block;
  }

  @include max-lg {
    display: none;
  }
}

.header__calc {
  border-style: solid;
  border-width: 1px;
  border-color: #3db6ff;
  border-radius: 28px;
  flex-shrink: 0;
  background-color: #3db6ff;
  padding: 12px 16px;
  display: flex;
  align-items: center;

  @include max-2xl {
    zoom: 0.9;
  }

  @include max-md {
    display: none;
  }
}

.header__calc:hover {
  background-color: #2b7fb2;
  border-color: #2b7fb2;
}

.header__calc__icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -4px;
  margin-right: 4px;

  // @include max-xl {
  //   width: 42px;
  //   height: 42px;
  //   margin: 0;
  // }
}

.header__calc__icon::before {
  content: '';
  width: 26px;
  height: 26px;
  display: block;
  background-color: #fff;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-calc);
}

.header__calc__text {
  font-size: 13px;
  letter-spacing: 0.025em;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;

  // @include max-3xl {
  //   font-size: 12px;
  // }

  // @include max-xl {
  //   display: none;
  // }
}

.header__phone {
  display: flex;
  flex-direction: column;
  margin-left: 40px;

  @include max-3xl {
    margin-left: 20px;
  }

  @include max-2xl {
    margin-left: 0;
    zoom: 0.9;
  }

  @include max-xl {
    margin-left: 20px;
  }

  @include max-md {
    display: none;
  }
}

.header__phone__number {
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #00273f;
  font-weight: bold;
  font-family: 'Gilroy';
  text-align: right;
  white-space: nowrap;
}

.header__phone__time {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.025em;
  color: #00273f;
  font-family: 'Gilroy';
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__phone__time::before {
  content: '';
  width: 18px;
  height: 18px;
  display: block;
  background-color: #8a8b8b;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-time);
}

.header__callback {
  border-style: solid;
  border-width: 1px;
  border-color: #3db6ff;
  border-radius: 28px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 12px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @include max-3xl {
    padding: 0;
  }
}

.header__callback:hover {
  background-color: rgb(206, 237, 255);

  @include max-3xl {
    border-color: #2b7fb2;

    .header__callback__icon & {
      background-color: #2b7fb2;
    }
  }
}

.header__callback__icon {
  background-color: #3db6ff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -4px;
  margin-right: 4px;

  @include max-3xl {
    margin: 0;
    width: 40px;
    height: 40px;

    .header__callback:hover & {
      background-color: #2b7fb2;
      border-color: #2b7fb2;
    }
  }
}

.header__callback__icon::before {
  content: '';
  width: 16px;
  height: 16px;
  display: block;
  background-color: #fff;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: var(--icon-phone);

  @include max-3xl {
    width: 20px;
    height: 20px;
  }
}

.header__callback__text {
  font-size: 13px;
  letter-spacing: 0.025em;
  line-height: 15px;
  text-transform: uppercase;
  color: #3db6ff;
  font-weight: 900;

  @include max-3xl {
    display: none;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: 20px;

  @include max-3xl {
    margin-right: 10px;
  }

  @include max-2xl {
    margin-right: 0;
  }

  @include max-xl {
    display: none;
  }
}

.header__nav>.menu-item {
  position: relative;
}

.header__nav>.menu-item>button,
.header__nav>.menu-item>a {
  font-size: 20px;
  line-height: 40px;
  white-space: nowrap;
  color: #00273f;
  letter-spacing: 0.01em;
  display: block;
  padding: 0 14px;
  position: relative;

  @include max-3xl {
    padding: 0 12px;
    // font-size: 18px;
  }

  @include max-2xl {
    font-size: 16px;
  }

  @include max-xl {
    font-size: 14px;
  }
}

.header__nav>.menu-item:hover>button::before,
.header__nav>.menu-item>button:hover::before,
.header__nav>.menu-item:hover>a::before,
.header__nav>.menu-item>a:hover::before {
  display: block;
}

.header__nav>.menu-item.current-menu-parent>button::before,
.header__nav>.menu-item.current-menu-item>button::before,
.header__nav>.menu-item.current-menu-parent>a::before,
.header__nav>.menu-item.current-menu-item>a::before {
  display: block;
}

.header__nav>.menu-item>button::before,
.header__nav>.menu-item>a::before {
  content: '';
  display: none;
  width: 40px;
  height: 5px;
  background-color: #3db6ff;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -20px;
}

.header__nav>.menu-item.menu-item-has-children>button,
.header__nav>.menu-item.menu-item-has-children>a {
  font-size: 22px;
  text-transform: uppercase;
  border-left: 1px solid #d3d5dc;
  border-right: 1px solid #d3d5dc;
  display: inline-flex;
  align-items: center;
  gap: 12px;

  @include max-3xl {
    // font-size: 20px;
    gap: 10px;
  }

  @include max-2xl {
    font-size: 18px;
    gap: 8px;
  }

  @include max-xl {
    font-size: 16px;
  }
}

.header__nav>.menu-item.menu-item-has-children>button::after,
.header__nav>.menu-item.menu-item-has-children>a::after {
  content: '';
  width: 11px;
  height: 7px;
  display: block;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='11px' height='7px'%3E%3Cpath fill-rule='evenodd' fill='%23000000' d='M0.720,2.633 L5.719,6.861 L10.717,2.633 L9.040,0.867 L5.719,3.354 L2.398,0.867 L0.720,2.633 Z'/%3E%3C/svg%3E");
}

.header__nav>.menu-item>.sub-menu {
  display: none;
  position: absolute;
  left: -52px;
  top: calc(100% + 4px);
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 27.26px 1.74px rgba(0, 0, 0, 0.25);
  padding: 16px 20px;
  width: 320px;
}

.header__nav>.menu-item>.sub-menu::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  top: -4px;
}

.header__nav>.menu-item:hover>.sub-menu {
  display: block;
}

.header__nav>.menu-item>.sub-menu>.menu-item {
  position: relative;
}

.header__nav>.menu-item>.sub-menu>.menu-item:hover {
  z-index: 2;
}

.header__nav>.menu-item>.sub-menu>.menu-item>a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  font-weight: bold;
  color: #354a57;
  border-radius: 20px;
  position: relative;
}

.header__nav>.menu-item>.sub-menu>.menu-item>a:hover {
  color: #3db6ff;
  background-color: rgba(61, 182, 255, 0.15);
}

.header__nav>.menu-item>.sub-menu>.menu-item:hover>a {
  background-color: rgba(61, 182, 255, 0.15);
}

.header__nav>.menu-item>.sub-menu>.menu-item.menu-item-has-children>a {
  padding-right: 40px;
}

.header__nav>.menu-item>.sub-menu>.menu-item.menu-item-has-children>a::after {
  content: '';
  position: absolute;
  right: 16px;
  top: 50%;
  width: 6px;
  height: 11px;
  margin-top: -5px;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6px' height='11px'%3E%3Cpath fill-rule='evenodd' fill='%23000000' d='M1.758,0.125 L5.986,5.122 L1.758,10.118 L-0.009,8.442 L2.479,5.122 L-0.009,1.802 L1.758,0.125 Z'/%3E%3C/svg%3E");
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu {
  display: none;
  position: absolute;
  left: calc(100% - 24px);
  top: -16px;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 27.26px 1.74px rgba(0, 0, 0, 0.25);
  padding: 16px 20px;
  width: 320px;
}

.header__nav>.menu-item>.sub-menu>.menu-item:hover>.sub-menu {
  display: block;
}

.header__nav>.menu-item>.sub-menu>.menu-item:hover>.sub-menu::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -16px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 16px 16px 16px 0;
  display: block;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item {
  position: relative;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>*+.menu-item {
  border-top: 1px solid #e5e6ec;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item>a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: #354a57;
  position: relative;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item>a:hover {
  color: #3db6ff;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item:hover>a {
  color: #3db6ff;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item.menu-item-has-children>a {
  padding-right: 40px;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item.menu-item-has-children>a::after {
  content: '';
  position: absolute;
  right: 16px;
  top: 50%;
  width: 6px;
  height: 11px;
  margin-top: -5px;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6px' height='11px'%3E%3Cpath fill-rule='evenodd' fill='%23000000' d='M1.758,0.125 L5.986,5.122 L1.758,10.118 L-0.009,8.442 L2.479,5.122 L-0.009,1.802 L1.758,0.125 Z'/%3E%3C/svg%3E");
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item>.sub-menu {
  display: none;
  position: absolute;
  left: calc(100% - 24px);
  top: -16px;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 27.26px 1.74px rgba(0, 0, 0, 0.25);
  padding: 16px 20px;
  width: 320px;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item:hover>.sub-menu {
  display: block;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item:hover {
  z-index: 2;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item:hover>.sub-menu::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -16px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 16px 16px 16px 0;
  display: block;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item {
  position: relative;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item>.sub-menu>*+.menu-item {
  border-top: 1px solid #e5e6ec;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item>a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
  color: #354a57;
  position: relative;
}

.header__nav>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item>.sub-menu>.menu-item>a:hover {
  color: #3db6ff;
}

.scrollup {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: -0.696px 4.951px 9.8px 0.2px rgba(0, 19, 41, 0.3);
  color: #343434;
  width: 56px;
  height: 56px;
  position: fixed;
  left: calc(50% + 632px);
  bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  opacity: 0;
  transition: 300ms;

  [data-sticky-header="active"] & {
    opacity: 0.5;
  }

  &:hover {
    opacity: 0.8;
  }

  @include max-2xl {
    left: auto;
    right: 32px;
  }

  @include max-md {
    left: auto;
    right: 8px;
    bottom: 64px;
  }
}