@use 'responsive' as *;

.measurement-section {
  background: url('../images/measurement-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  padding-top: 52px;
  padding-bottom: 44px;

  @include max-md {
    padding-top: 44px;
    padding-bottom: 36px;
  }
}

.measurement-section__title {
  display: flex;
  justify-content: center;
}

.measurement-section__title-inner {
  border-radius: 24px;
  background-image: linear-gradient(90deg, #ffffff 0%, #e7f6ff 100%);
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #296c94;
  font-weight: 700;
  text-align: center;
  padding: 4px 48px;

  @include max-lg {
    padding: 4px 24px;
    font-size: 24px;
  }

  @include max-md {
    padding: 22px 4px;
    font-size: 24px;
    line-height: 1.15;
  }
}

.measurement-section__order {
  margin-top: 18px;
  display: flex;
  justify-content: center;

  >.primary-button {
    width: 348px;
    font-size: 22px;
    text-transform: uppercase;
  }

  @include max-lg {
    margin-top: 24px;
  }

  @include max-md {
    margin-top: 36px;

    >.primary-button {
      font-size: 20px;
    }
  }
}