@use 'responsive' as *;

.modal {
  display: none;

  &.is-open {
    display: block;
  }

  &[aria-hidden='false'] .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &[aria-hidden='false'] .modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &[aria-hidden='true'] .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &[aria-hidden='true'] .modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}

.modal__title {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 12px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 24px;
  position: relative;
}

.modal__title::after {
  content: '';
  width: 40px;
  height: 5px;
  background: #c5e8e2;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  position: absolute;
}

.modal__desc {
  text-align: center;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.25;
}

.modal__close {
  background: transparent;
  border: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  line-height: 1;
  font-size: 20px;
  color: #b6b6b6;
  z-index: 50;
  cursor: pointer;

  &::before {
    content: '\2715';
  }

  &:hover {
    color: #000;
  }

  @include max-md {
    color: #000;
    right: 4px;
    top: 4px;
  }
}

.modal__overlay {
  will-change: transform;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0009;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__container--default {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;

  @include min-sm {
    max-width: 540px;
    padding-right: 16px;
    padding-left: 16px
  }

  @include min-md {
    padding-right: 16px;
    padding-left: 16px
  }

  @include min-lg {
    padding-right: 24px;
    padding-left: 24px
  }

  @include min-xl {
    padding-right: 32px;
    padding-left: 32px
  }
}

.modal__content {
  position: relative;
  padding: 56px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 37.6px 2.4px rgba(0, 0, 0, 0.4);

  @include max-md {
    padding: 24px;
  }
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

@keyframes mmslideOut {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-form__field {}

.modal-form__field--rules {
  font-size: 12px;
  color: #828282;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: center;
}

.modal-form__field--rules a {
  color: currentColor;
  text-decoration: underline;
}

.modal-form__field--rules a:hover {
  color: #000;
}

.modal-form__field--submit {
  display: flex;
  justify-content: center;
  padding: 0 8px;
}

.modal-form__errors {
  grid-column: span 2 / span 2;
  background: hsl(355.7 100% 97.3%);
  color: hsl(346.8 77.2% 49.8%);
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid hsl(352.7 96.1% 90%);

  &:empty {
    display: none;
  }
}

.modal-form-success {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;

  [data-feedack-form-success] & {
    display: flex;
  }
}

.modal-form-success::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #fffc;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.modal-form-success__title {
  text-align: center;
  font-weight: 700;
  color: #5a6879;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 24px;
}

.modal-form-success__desc {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: center;
  font-family: Gilroy;
}