@use 'responsive' as *;

.portfolio {
  padding-top: 96px;
  padding-bottom: 132px;

  @include max-lg {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  @include max-md {
    padding-top: 48px;
    padding-bottom: 0;
  }
}

.portfolio__headline {
  margin-bottom: 68px;

  @include max-lg {
    margin-bottom: 48px;
  }

  @include max-md {
    margin-bottom: 40px;
  }
}

.portfolio__title {
  text-align: center;
  font-size: 42px;
  line-height: 1.15;
  font-weight: 700;
  color: #7c9cb6;

  @include max-xl {
    font-size: 36px;
  }

  @include max-lg {
    font-size: 32px;
  }

  @include max-md {
    font-size: 24px;
  }
}

.portfolio__desc {
  text-align: center;
  font-size: 24px;
  line-height: 1;
  margin-top: 30px;

  @include max-xl {
    font-size: 20px;
    margin-top: 24px;
  }

  @include max-lg {
    font-size: 18px;
    margin-top: 20px;
  }

  @include max-md {
    font-size: 14px;
  }
}

.portfolio__items {

  @include max-md {
    margin-left: -8px;
    margin-right: -8px;
  }
}

.portfolio-embla {
  --slide-spacing: 48px;
  --slide-size: 50%;

  padding-left: 120px;
  padding-right: 120px;
  position: relative;

  @include max-2xl {
    padding-left: 0;
    padding-right: 0;
  }

  @include max-xl {
    --slide-spacing: 24px;
  }

  @include max-lg {
    --slide-spacing: 16px;
  }

  @include max-md {
    --slide-size: 100%;
  }
}

.portfolio-embla__viewport {
  overflow: hidden;
  filter: drop-shadow(0px 3px 24.5px rgba(0, 50, 92, 0.15));

  @include max-md {
    filter: drop-shadow(0px 2px 14px rgba(0, 50, 92, 0.15));
  }
}

.portfolio-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.portfolio-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.portfolio-embla__nav {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(187, 195, 205);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 56px;
  height: 56px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  margin-top: -28px;

  &:hover {
    background-color: rgba(204, 212, 223, 0.9);
  }

  &[disabled] {
    display: none;
  }

  @include max-2xl {
    top: 216px;
  }

  @include max-xl {
    top: 184px;
  }

  @include max-lg {
    top: 142px;
  }

  @include max-md {
    width: 32px;
    height: 32px;
    margin-top: -16px;
    border-width: 1px;
    top: 184px;
  }

  @include max-sm {
    top: 38.5vw;
  }
}

.portfolio-embla__nav::before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  @include max-md {
    width: 12px;
    height: 12px;
  }
}

.portfolio-embla__nav--prev {
  left: 12px;

  @include max-md {
    left: -6px;
  }
}

.portfolio-embla__nav--prev::before {
  mask-image: var(--icon-chevron-left);
}

.portfolio-embla__nav--next {
  right: 12px;

  @include max-md {
    right: -6px;
  }
}

.portfolio-embla__nav--next::before {
  mask-image: var(--icon-chevron-right);
}

.portfolio-item {
  border-radius: 24px;
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 24.5px rgba(0, 50, 92, 0.15));
  padding: 32px;

  .portfolio-embla & {
    filter: none;
  }

  @include max-xl {
    padding: 24px;
  }

  @include max-lg {
    border-radius: 14px;
  }

  @include max-md {
    filter: drop-shadow(0px 2px 14px rgba(0, 50, 92, 0.15));
    padding: 16px 12px 22px;
  }
}

.portfolio-item__title {
  color: #7c9cb6;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;

  @include max-md {
    font-size: 14px;
  }
}

.portfolio-item__detail {
  border-radius: 10px;
  background-color: #f3f5f8cc;
  padding: 2px 6px;
  line-height: 1;
  letter-spacing: 0.05em;
  font-size: 14px;
  min-height: 32px;
  display: flex;
  align-items: center;

  @include max-md {
    font-size: 12px;
    min-height: 28px;
  }
}

.portfolio-item__price {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  line-height: 32px;

  @include max-md {
    min-height: 28px;
  }
}

.portfolio-item__price-label {
  line-height: 1;
  font-size: 14px;

  @include max-md {
    font-size: 13px;
  }
}

.portfolio-item__price-value {
  font-size: 20px;
  color: #00aaff;
  letter-spacing: 0.025em;
  font-family: 'Gilroy';
  font-weight: bold;

  @include max-md {
    font-size: 18px;
  }
}

.portfolio-item__gallery {
  margin-bottom: 10px;
}

.portfolio-gallery {}

.portfolio-gallery__main {
  display: flex;
  margin-bottom: 8px;
  border-radius: 24px 24px 0 0;
  overflow: hidden;

  a {
    display: block;

    img {
      display: block;
    }
  }

  @include max-lg {
    border-radius: 14px 14px 0 0;
  }

  @include max-md {
    margin-bottom: 5px;
  }
}

.portfolio-gallery__carousel {
  --slide-spacing: 8px;
  --slide-size: 20%;

  position: relative;

  @include max-md {
    --slide-spacing: 3px;
  }
}

.portfolio-gallery__carousel-viewport {
  overflow: hidden;
  filter: drop-shadow(0px 3px 24.5px rgba(0, 50, 92, 0.15));
}

.portfolio-gallery__carousel-container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.portfolio-gallery__carousel-slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.portfolio-gallery__nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 32px;
  height: 100%;
  transition: 300ms;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    @include max-md {
      width: 12px;
      height: 12px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #bbc3cd;

    @include max-md {
      border-width: 1px;
    }
  }

  &:hover::before {
    background-color: rgba(204, 212, 223, 0.9);
  }

  &[disabled] {
    opacity: 0;
    visibility: hidden;
  }
}

.portfolio-gallery__nav--prev {
  left: 0;
  background: linear-gradient(to left, transparent 0%, rgba(255, 255, 255, 0.6) 100%);
}

.portfolio-gallery__nav--prev::after {
  mask-image: var(--icon-chevron-left);
}

.portfolio-gallery__nav--next {
  right: 0;
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.6) 100%);
}

.portfolio-gallery__nav--next::after {
  mask-image: var(--icon-chevron-right);
}