.portfolio {
  padding-top: 96px;
  padding-bottom: 132px;
}

.portfolio__headline {
  margin-bottom: 64px;
}

.portfolio__title {
  text-align: center;
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
  color: #7c9cb6;
}

.portfolio__desc {
  text-align: center;
  font-size: 24px;
  line-height: 1;
  margin-top: 24px;
}

.portfolio__items {
}

.portfolio-embla {
  --slide-spacing: 48px;
  --slide-size: 50%;

  position: relative;
}

.portfolio-embla__viewport {
  overflow: hidden;
}

.portfolio-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.portfolio-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.portfolio-embla__nav {
}

.portfolio-embla__nav--prev {
}

.portfolio-embla__nav--next {
}
